@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-toastify/dist/ReactToastify.css';
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
textarea,
a,
li,
td,
th,
label {
  font-family: "Rubik", sans-serif;
}

.ant-form-item-label {
  margin: 0 !important;
  padding: 0 !important;
}
